
<launch>

    <arg name="image" default="egocylinder/image"/>
    <arg name="info" default="egocylinder/egocylindrical_points"/>

    <node name="egocylindrical_controller" pkg="pips_egocylindrical" type="controller_node" >
        <param name="egocylindrical_image_cc_wrapper/egocylindrical_image_topic" value="$(arg image)"/>
        <param name="egocylindrical_image_cc_wrapper/egocylindrical_info_topic" value="$(arg info)"/>
    </node>
    
</launch>
